<a href="https://colab.research.google.com/github/robajradi/files/blob/main/python_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

students_scores = { 'Alice': [85, 90, 88], 'Bob': [75, 80, 78], 'Charlie': [92, 95, 96]}

Write a Python function that:

Calculates the average score for each student.

Returns the name of the student with the highest average score.

students_scores = {'Alice': [85, 90, 88], 'Bob': [75, 80, 78], 'Charlie': [92, 95, 96]}

In [3]:
students_scores = {'Alice': [85, 90, 88], 'Bob': [75, 80, 78], 'Charlie': [92, 95, 96]}

name =""

max_avg = 0

for student, scores in students_scores.items():
  avg = sum(students_scores [student])/ len(students_scores [student])
  print(avg)
  if avg > max_avg:
    name = student
    max_avg = avg

print('-'*100)
print(name,max_avg)

87.66666666666667
77.66666666666667
94.33333333333333
----------------------------------------------------------------------------------------------------
Charlie 94.33333333333333

Problem:

Each of you needs to create the dictionary.

You have a list of employees where each employee is represented as a dictionary containing:

Name (string)

Age (integer)

Department (string)

Salary (float)

Write a function to:

Filter out employees who earn less than 5500 and are not in the HR department.

Return a dictionary where the keys are departments, and the values ​​are lists of employees who work in that department

المشكلة:

يحتاج كل واحد منكم إلى إنشاء قاموس

لديك قائمة بالموظفين حيث يتم تمثيل كل موظف كقاموس يحتوي على:

الاسم (نص)

العمر (عدد صحيح)

القسم (نص)

الراتب (عدد عشري)

اكتب دالة لـ:

تصفية الموظفين الذين يتقاضون أقل من 5500 وليسوا في قسم الموارد البشرية.

إرجاع قاموس تكون مفاتيحه هي الأقسام، وقيمه هي قوائم الموظفين الذين يعملون في ذلك القسم

In [9]:
employees = [

{"name": "Alice", "age": 30, "department": "HR", "salary": 5000},

{"name": "Bob", "age": 40, "department": "Engineering", "salary": 3000},

{"name": "Charlie", "age": 35, "department": "HR", "salary": 6000},

{"name": "David", "age": 50, "department": "Engineering", "salary": 8000},

{"name": "Eva", "age": 28, "department": "Finance", "salary": 4500},]

def process_employees(employees):
  filtered = [emp for emp in employees if emp['salary'] >= 5500 and emp['department'] != 'hr']

# print (filtered)

  departments = {}
  for emp in filtered:
    if emp['department'] not in departments:
      departments [emp['department']] = []

      departments [emp['department']].append(emp['name'])
  return departments
process_employees(employees)

{'HR': ['Charlie'], 'Engineering': ['David']}

Problem:

You have a dictionary where each key is a section of a store, and each value is a list of products (with name, quantity, and price). Write a

function to:

Calculate the total revenue for each section.

store = {

"Electronics": [{"name": "Laptop", "quantity": 10, "price": 1000}, {"name": "Phone", "quantity": 5, "price": 500}], "Clothing": [{"name": "Shirt", "quantity": 20, "price": 30}, {"name": "Jacket", "quantity": 15, "price": 100}], "Appliances": [{"name": "Coffee Maker", "quantity": 10, "price": 50}, {"name": "Blender", "quantity": 8, "price": 70}],

In [10]:
store = {

"Electronics": [{"name": "Laptop", "quantity": 10, "price": 1000}, {"name": "Phone", "quantity": 5, "price": 500}],
"Clothing": [{"name": "Shirt", "quantity": 20, "price": 30}, {"name": "Jacket", "quantity": 15, "price": 100}],
"Appliances": [{"name": "Coffee Maker", "quantity": 10, "price": 50}, {"name": "Blender", "quantity": 8, "price": 70}],
}
def analyze_stores(store):
  for section, products in store.items():
    total_per_section = sum(p['quantity'] * p['price'] for p in products)

    print('The total revenue for section {} is {}'.format(section, total_per_section))

    print('-' * 100)

analyze_stores(store)

The total revenue for section Electronics is 12500
----------------------------------------------------------------------------------------------------
The total revenue for section Clothing is 2100
----------------------------------------------------------------------------------------------------
The total revenue for section Appliances is 1060
----------------------------------------------------------------------------------------------------