<a href="https://colab.research.google.com/github/robajradi/files/blob/main/python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# initialize
number=1 # اول خطوة الي هي البداية ابغاه يبدء ب 1 بس لاني ابغاه من 1 الى 5
# while condition
while number<=5:
  # code
  print(number)
  # update
  number+=1 # هنا التقفيلة انه ابغاه يحط لي من 1 لين خمسة

1
2
3
4
5

In [6]:
number=5
while number>=1:
  print(number)
  number-=1

5
4
3
2
1

In [7]:
# الاجابة هذي صحيحة لكن وراها اخطاء مره كثيرة اذا حطيت اكبر من 100 او ارقام سالبةبيقبل معايا وهو المفروض مايقبل
count=1
while count<=5:
  g=float(input("enter your gread"))
  if g>=90:
    print("A+")
  elif g>90 and g>=75:
    print("A")
  elif g>75 and g>=50:
    print("B")
  else:
    print("fail")
  count+=1

enter your gread66
fail
enter your gread55
fail
enter your gread100
A+
enter your gread90
A+
enter your gread88
B

In [16]:
# هذا الحل المثالي الي مابيكون فيه اغلاط

number=1
while number<=5:
 check1=input('please enter your grade')
 if check1.isnumeric(): # هنا عملت الاف الخارجية
   grade=float(check1)
#grade=float(input('please enter the grade to be tested'))
   if grade>100 or grade<0:
     print('the final evaluation for student{} is'.format(number)) # هنا ابغاه يعددلي ارقام الطلبة
     print('invalid input, Please Re-enter a proper grade between 0 and 100')# هنا لو المستخدم حط اكبر من 100 اطلع له رسالة خطأ انه المفترض انك تحط رقم بين 0 و 100
     print('-' * 100) # احط مية شرطة بين الاجابات
     print('\n')# هذي عشان المسافة
   elif grade>=90:
     print('the final evaluation for student{} is'.format(number))
     print('your grade is A+')
     print('-' * 100)
     print('\n')#
   elif grade>=75:
     print('the final evaluation for student{} is'.format(number))
     print('your grade is A')
     print('-' * 100)
     print('\n')#
   elif grade>=50:
     print('the final evaluation for student{} is'.format(number))
     print('your grade is B')
     print('-' * 100)
     print('\n')#
   else:# close if inner
     print('the final evaluation for student{} is'.format(number))
     print('your grade is F')
     print('-' * 100)
     print('\n')#
 else:# close if outer
   print('the final evaluation for student{} is'.format(number))
   print('invalid value, Please Re-enter a proper grade only number')
   print('-' * 100)
   print('\n')#
 number+=1

please enter your grade55
the final evaluation for student1 is
your grade is B
----------------------------------------------------------------------------------------------------


please enter your grade44
the final evaluation for student2 is
your grade is F
----------------------------------------------------------------------------------------------------


please enter your grade50
the final evaluation for student3 is
your grade is B
----------------------------------------------------------------------------------------------------


please enter your grade100
the final evaluation for student4 is
your grade is A+
----------------------------------------------------------------------------------------------------


please enter your grade-100
the final evaluation for student5 is
invalid value, Please Re-enter a proper grade only number
----------------------------------------------------------------------------------------------------

In [17]:
for number in range(5): #هنا حطينا رقم 5 ف هو بيعد لنا من 1 الى 5 بدون مايحط الخمسة
  print(number)

0
1
2
3
4

In [18]:
for number in range(1,6): #طيب نبغاه الحين يعد من واحدالى خمسة لاازم نكتب 6 لانه اخر رقم بيقوم 5
  print(number)

1
2
3
4
5

In [19]:
for number in range(5,0,-1): #الحين نبغاه يعد بالعكس بنحط 0 لانه اخر رقم ومانبغاه ينحسب واول رقم بيكون 5 وحطينا -1 عشان نبغاه يعد بالعكس
  print(number)

5
4
3
2
1

In [20]:
camp="expers for data analysis"
for char in camp:
  print(char)

e
x
p
e
r
s

f
o
r

d
a
t
a

a
n
a
l
y
s
i
s

In [23]:
name=['ruba','rehaf','salma']
for char in name:
  print('hello '+char.upper()*2 + ' my dear')

hello RUBARUBA my dear
hello REHAFREHAF my dear
hello SALMASALMA my dear